[submodule "part0"]
	path = part0
	url = git@github.com:degenone/FSO-part0
[submodule "part1"]
	path = part1
	url = git@github.com:degenone/FSO-part1
[submodule "part2"]
	path = part2
	url = git@github.com:degenone/FSO-part2
[submodule "part3"]
	path = part3
	url = git@github.com:degenone/FSO-part3
