[submodule "part0"]
	path = part0
	url = git@github.com:degenone/FSO-part0
[submodule "part1"]
	path = part1
	url = git@github.com:degenone/FSO-part1
[submodule "part2"]
	path = part2
	url = git@github.com:degenone/FSO-part2
[submodule "part3"]
	path = part3
	url = git@github.com:degenone/FSO-part3
[submodule "part4"]
	path = part4
	url = git@github.com:degenone/FSO-part4
[submodule "part5"]
	path = part5
	url = git@github.com:degenone/FSO-part5
[submodule "part6"]
	path = part6
	url = git@github.com:degenone/FSO-part6
[submodule "part7"]
	path = part7
	url = git@github.com:degenone/FSO-part7
[submodule "part8"]
	path = part8
	url = git@github.com:degenone/FSO-part8
[submodule "part9"]
	path = part9
	url = git@github.com:degenone/FSO-part9
[submodule "part10"]
	path = part10
	url = git@github.com:degenone/FSO-part10
[submodule "part11"]
	path = part11
	url = git@github.com:degenone/FSO-part11
[submodule "part12"]
	path = part12
	url = git@github.com:degenone/FSO-part12
